div#contenidor {
    margin: auto;
    margin-top: 50px;
    width: 960px;
    height: 800px;
    background-color: red;
}
div#dreta {
    width: 300px;
    height: 500px;
    background-color: green;
    margin: -200px 0px 0px 0px;
    float: left;
}

div#novetats {
    width: 640px;
    height: 200px;
    background-color: blue;
    float: right;
}

div#centro {
    margin-top: 20px;
    width: 640px;
    height: 580px;
    background-color: purple;
    float: right;
}

div#groc {
    margin-top: 20px;
    height: 280px;
    width: 300px;
    background-color: yellow;
    float: left
}
/*
Pregunta 1: Per que els divs s'executen en ordre i per defecte estan en posició relativa
Pregunta 2: Posant els floats i els marges.
Pregunta 3: Canviant els floats, de right a left i de left a right.

*/
