#central {
    width: 100%;
    height: 1000px;
    background-color: bisque;
}
#menuesquerra {
    float: left;
    width: 20%;
    height: 700px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: darkgrey;
}
#menuesquerra ul {
    font-size: 14px;
    font-style: normal;
    font-family: monospace;
}
div#menuesquerra li {
    text-decoration: none;
    list-style: none;
}
div#menuvertical {
    border: black;
    background-color: rosybrown;
}
div#idiomes {
    text-align: center;
    background-color: orange;
}
div#xarxes {
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    background-color: palegreen;
}
div#face {
    float: right;
    margin: 2px;
    background-color: blue;
}
div#twitter {
    float: right;
    margin: 2px;
    background-color: yellow;
}
div#youtube {
    float: right;
    margin: 2px;
    background-color: red;
}
div#logo {
    width: 100%;
    height: auto;
    text-align: center
}
div#contingut {
    width: 78%;
    height: 90%;
    float: right;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background-color: grey;
}
div#portada {
    width: 100%;
    height: 30%;
    background-color: lightyellow;
}
div#opcions {
    width: 100%;
    height: 20%;
    background-color: darkgrey;
    display: inline-block;
}
#op1 {
    margin: 19px 1px 10px 14px;
    width: 24%;
    height: 80%;
    background-color: dodgerblue;
    display: inline-block;
    float: left;
}
div#op2 {
    margin: 19px 1px 10px 1px;
    width: 24%;
    height: 80%;
    background-color: dodgerblue;
    float: left;
}
div#op3 {
    margin: 19px 1px 10px 1px;
    width: 24%;
    height: 80%;
    background-color: dodgerblue;
    float: left;
}
div#op4 {
    margin: 19px 1px 10px 1px;
    width: 24%;
    height: 80%;
    background-color: dodgerblue;
    float: left;
}
div#ultimes_noticies {
    width: 80%;
    height: 30%;
    background-color: lightgrey;
}
div#agenda {
    width: 80%;
    height: 19%;
    background-color: darkorange;
}