#header {
    background-color: aqua;
    width: 100%;
    height: 200px;
    margin: auto;
    margin-top: 15px;
}
#header p {
    text-align: center;
}
#body {
    width: 960px;
    height: 600px;
    background-color: green;
    margin: auto;
    margin-top: 15px;
}
#body2 {
background-color: grey;
    width: 100%;
    height: 50%;
    
}
#subbody1 {
width: 25%;
    height: 20%;
    background-color: red;
    float: left;
}
#subbody2 {
    width: 25%;
    height: 20%;
    background-color: orange;
    float: left;
}
#subbody3 {
 width: 25%;
    height: 20%;
    background-color: red;
    float: left;
}
#subbody4 {
 width: 25%;
    height: 20%;
    background-color: orange;
    float: left;
}

#footer {
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
    margin: auto;
    margin-top: 15px;
}
#header2 {
    width: 40%;
    margin: auto;
    float: right;
}
#header3 {
    width: 40%;
    margin: auto;
    float: left;
}
