* {
    margin: 0px;
    padding: 0px;
}
div#esquerra{
    width: 33%;
    height: 300px;
    background-color: red;
    display: inline-block;
}
div#contenidor{
    margin: auto;
    margin-top: 100px;
    width: 900px;
    height: 300px;
    border: 5px solid black;
}
div#centre{
    width: 33%;
    height: 300px;
    background-color: yellowgreen;
    display: inline-block;
}
div#dreta{
    width: 33%;
    height: 300px;
    background-color: blue;
    display: inline-block;
}
/* El display inline-block permet tenir caixes al costat, però sembla que posa un petit marge per defecte*/